<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>prova.servlets.DoLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoLogout</servlet-name>
    <servlet-class>prova.servlets.DoLogout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoAdicionaItem</servlet-name>
    <servlet-class>prova.servlets.DoAdicionaItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoAprovacaoSolicitacao</servlet-name>
    <servlet-class>prova.servlets.DoAprovacaoSolicitacao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoCadastroItem</servlet-name>
    <servlet-class>prova.servlets.DoCadastroItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoCadastroSolicitacao</servlet-name>
    <servlet-class>prova.servlets.DoCadastroSolicitacao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoCadastroUsuario</servlet-name>
    <servlet-class>prova.servlets.DoCadastroUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoConsultaItens</servlet-name>
    <servlet-class>prova.servlets.DoConsultaItens</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoConsultaCarrinho</servlet-name>
    <servlet-class>prova.servlets.DoConsultaCarrinho</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoConsultaSolicitacoes</servlet-name>
    <servlet-class>prova.servlets.DoConsultaSolicitacoes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoRemoveItem</servlet-name>
    <servlet-class>prova.servlets.DoRemoveItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoRelatorioEstoque</servlet-name>
    <servlet-class>prova.servlets.DoRelatorioEstoque</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoRelatorioSolicitacoes</servlet-name>
    <servlet-class>prova.servlets.DoRelatorioSolicitacoes</servlet-class>
  </servlet>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>